|===
|Parameter|Description|Optional|Default|Type

{{#parameters}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{#optional}}Y{{/optional}}{{/tableCellContent}}
|{{#tableCellContent}}{{#defaultValue}}{{defaultValue}}{{/defaultValue}}{{/tableCellContent}}
|{{#tableCellContent}}{{#type}}{{type}}{{/type}}{{/tableCellContent}}

{{/parameters}}
|===
