|===
|Path|Type|Description|Optional

{{#fields}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
    |{{#tableCellContent}}{{#optional}}Y{{/optional}}{{/tableCellContent}}

{{/fields}}
|===